<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-call" version="1.1.6" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CordovaCall</name>
  <js-module name="CordovaCall" src="www/CordovaCall.js">
    <clobbers target="cordova.plugins.CordovaCall" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CordovaCall">
        <param name="android-package" value="com.dmarc.cordovacall.CordovaCall" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"/>
        <uses-permission android:name="android.permission.CALL_PHONE"/>
        <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    </config-file>
    <config-file parent="/manifest/application" target="AndroidManifest.xml">
        <service android:name="com.dmarc.cordovacall.MyConnectionService"
                 android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>
    </config-file>
    <source-file src="src/android/CordovaCall.java" target-dir="src/com/dmarc/cordovacall" />
    <source-file src="src/android/MyConnectionService.java" target-dir="src/com/dmarc/cordovacall" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaCall">
        <param name="ios-package" value="CordovaCall" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>voip</string>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="NSUserActivityTypes">
      <array>
        <string>INStartAudioCallIntent</string>
        <string>INStartVideoCallIntent</string>
      </array>
    </config-file>
    <source-file src="src/ios/AppDelegateCordovaCall.m" />
    <source-file src="src/ios/CordovaCall.m" />
  </platform>
</plugin>
